body {
    font-family: arial;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
